# Archivos bytecode de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de log y DB de Django
*.log
db.sqlite3

# Archivos estáticos y media
/staticfiles/
media/

# Entorno virtual
venv/
ENV/
env/
.venv/

# Variables de entorno y secretos
.env
.env.*
secrets.json

# VSCode y PyCharm
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
Desktop.ini
